.paragraph { 
   border: 2px solid white;
   background-color:black; 
   color:white;
 }
.pic {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40% ;
    width: 500px;
    height:300px;
}
.header {
    border:2px solid white;
    background-color:black;
    text-align: center;
    font-size:300%;
    color:limegreen
}
.body {
    background-color:black;
}